<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

	<filter>
		<filter-name>firstFilter</filter-name>
		<filter-class>org.gp.filter.FirstFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>firstFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<servlet>
		<servlet-name>firstServlet</servlet-name>
		<servlet-class>org.gp.servlet.FirstServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>imageSearchServlet</servlet-name>
		<servlet-class>org.gp.servlet.ImageSearchServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>firstServlet</servlet-name>
		<url-pattern>/firstServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>imageSearchServlet</servlet-name>
		<url-pattern>/imageSearchServlet</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>/index.jsp</welcome-file>
	</welcome-file-list>
</web-app>